body {
  margin: 0;
  font-family: 'Kamit',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Kamit',sans-serif;
}

.Logo {
  height: 100%;
}